<div class='card'>
  <h3 class='card-header bg-primary text-white'>
  <!--{{title}}-->
  </h3>
  <div class='card-body'>
      <div class="input-group mb-3">
          <input type="radio" value="Men" >
        </div>
      <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>
                          <button (click)="ToggleImg()" class='btn btn-primary'>
                              Show Image
                          </button>
                      </th>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Category</th>
                      <th>Price</th>
                      <th>5 Star Rating</th>
                  </tr>
              </thead>
              <tbody *ngFor="let bike of dispData">
                <img [style.visibility]="check ? 'visible':'hidden'" [style.margin]="10" src="{{bike.imageUrl}}" alt="no image found" width=60 height=50>
                 <td>{{bike.bikeName}}</td>
                 <td>{{bike.bikeCode}}</td>
                 <td>{{bike.releaseDate}}</td>
                 <td>{{bike.category}}</td>
                 <td>{{bike.price}}</td>
                 <td>{{bike.starRating}}</td>
                 
                </tbody>
          </table>
      </div>
  </div>
</div>
