<div class='card'>
  <h3 class='card-header bg-primary text-white'>
  <!--{{title}}-->
  </h3>
  <div class='card-body'>
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Filter by:" aria-label="Filter by:" aria-describedby="basic-addon1">
        </div>
        <h5 class="card-text">Filtered by:</h5>
      <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary'>
                              Show Image
                          </button>
                      </th>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                      <th>5 Star Rating</th>
                  </tr>
              </thead>
              <tbody>
                 
              </tbody>
          </table>
      </div>
  </div>
</div>
