<div class='card'>
  <h3 class='card-header bg-primary text-white'>
  <!--{{title}}-->
  </h3>
  <div class='card-body'>
      <div class="input-group mb-3">
          <h5>Filtered Products: </h5>
          <label for="Men">Mens: </label>
          <input type="radio" id="Men" value="Men" name="gender" (click)="FilterItems('Men')">
          <label for="Women">Womens: </label>
          <input type="radio" id="Women" value="Women" name="gender" (click)="FilterItems('Women')">
          <label for="Kids">Kids: </label>
          <input type="radio" id="Kids" value="Kids" name="gender" (click)="FilterItems('Kids')">
        </div>
      <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>
                          <button (click)="ToggleImg()" class='btn btn-primary'>
                              Show Image
                          </button>
                      </th>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Category</th>
                      <th>Price</th>
                      <th>5 Star Rating</th>
                  </tr>
              </thead>
              <tbody *ngFor="let bike of dispData">
                <img [style.visibility]="check ? 'visible':'hidden'" [style.margin]="10" src="{{bike.imageUrl}}" alt="no image found" width=60 height=50>
                 <td>{{bike.bikeName}}</td>
                 <td>{{bike.bikeCode}}</td>
                 <td>{{bike.releaseDate}}</td>
                 <td>{{bike.category}}</td>
                 <td>{{bike.price}}</td>
                 <td>{{bike.starRating}}</td>
                 
                </tbody>
          </table>
      </div>
  </div>
</div>
